@import "src/ej/static/ej/scss/components/profiles/_home.scss";

#comment-anchor {
    color: $color-primary-dark;
    cursor: pointer;
    text-decoration: none;
}

.welcome-page {
    background-color: $color-theme-white-ice;
    text-align: center;
    height: calc(100vh - 64px);
    display: grid;
    grid-template-rows: 10% 50% 15% 15%;
    grid-template-columns: 10% auto 10%;
    font-size: 16px;
    grid-template-areas:
        ". header ."
        ". content ."
        ". buttons ."
        ". logos . ";

    &-content {
        grid-area: content;
        max-width: 900px;
        margin: auto;

        h1 {
            font-size: 4em;
            margin: 2rem 0;
        }

        &__subtitle {
            color: $color-primary-dark;
            font-size: 2em;
            line-height: 1.2em;
            text-align: center;
            margin-bottom: 2rem;
            letter-spacing: 0;
        }

        @media only screen and (max-width: 450px) {
            & {
                margin: unset !important;
            }
        }
    }

    &__buttons {
        grid-area: buttons;
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;

        div {
            width: 100%;
            a {
                text-transform: unset;
                font-size: 1.5em;
            }
        }

        div:first-child a {
            background-color: $color-secondary-dark;
            border: 1px solid $color-secondary-dark;
            color: $color-low-pure;
        }

        div:first-child a:hover {
            border: 1px solid $color-primary-dark;
        }

        &__button,
        a[class="is-primary button"] {
            max-width: 25rem;
            margin: auto;
            width: 100%;
        }

        a {
            @extend .is-primary;
            @extend .button;
            border-radius: 0.2rem;
            font-family: "Buendia", sans-serif;
            padding: 0.5rem 0;
            box-sizing: content-box;
        }

        &__button {
            background-color: $color-blue-light;
            font-family: "Buendia", sans-serif;
            border-color: $color-blue-light;
            border-radius: 0;
            color: $color-black-alternative;
            text-transform: lowercase !important;
            font-family: "Buendia", sans-serif;
            font-size: 1.5em;
            font-weight: 400;
            letter-spacing: 0;
            height: 5rem;
        }
    }

    .developed-by {
        grid-area: logos;
        margin-top: 2rem;
        position: relative;

        &-container {
            width: 21rem;
            position: absolute;
            right: calc(50% - 10.68rem);
            bottom: 0;
        }

        .logos {
            display: flex;
            justify-content: space-evenly;
            margin-top: 1rem;

            a {
                border-radius: unset;
                padding: unset;
                box-sizing: unset;
                background-color: unset;
                border-color: unset;
                border: unset;
            }
        }

        #pencillabs {
            img {
                width: 7.375rem;
            }
        }

        #hacklab {
            a {
                text-transform: unset;
                color: $color-black;
                font-size: 1.2em;
                b {
                    color: red;
                }
            }
        }
    }

    @media only screen and (max-height: 768px) {
        & {
            grid-template-rows: 2% auto 20% 15%;
            font-size: 14px;

            &-content {
                max-width: 700px;
            }
        }
    }

    @media only screen and (max-width: 900px) {
        & {
            grid-template-rows: 2% auto 20% 15%;
            font-size: 14px;

            &-content {
                max-width: 700px;
            }
        }
    }

    @media only screen and (max-width: 700px) {
        & {
            grid-template-rows: 2% auto 20% 15%;
            grid-template-columns: 2% auto 2%;
            font-size: 13px;

            &-content {
                max-width: 600px;
            }
        }
    }

    @media only screen and (max-width: 414px) {
        & {
            grid-template-rows: 0% 60% 25% 10%;
            grid-template-columns: 1% auto 1%;
            font-size: 11px;

            &__buttons {
                gap: 0.1rem;
                &__button,
                a[class="is-primary button"] {
                    max-width: 80%;
                }
            }

            &-content {
                max-width: 600px;
            }
        }
    }
}

.conecta-vote-grid {
    grid-template-columns: auto minmax(auto, 900px) auto;
    display: grid;

    & > * {
        grid-column: 2;
    }
}
.conecta-comment-grid {
    @media only screen and (max-width: 414px) {
        .conecta-comment-grid {
            grid-template-columns: 2% auto 2%;
        }
    }
    grid-template-columns: auto minmax(auto, 1000px) auto;
    display: grid;

    & > * {
        grid-column: 2;
    }
}

.conecta-vote-card {
    font-size: 16px;
    position: relative;

    &-header {
        text-align: left;
        box-shadow: 0px 10px 10px $color-black-opacity;
        padding: 3em 0 4em 0;

        span {
            font-size: 1.2em;
            font-weight: 600;
        }

        &--purple {
            background: $color-primary-dark 0% 0% no-repeat padding-box;
            color: $color-theme-white-ice;
        }

        &__label {
            font-family: "Gothic";
            font-size: 1.5em;
            letter-spacing: 0px;
        }

        &__text {
            &--gray {
                color: $color-theme-white-ice;
                font-size: 2.5em !important;
                @media only screen and (max-width: 414px) {
                    & {
                        margin: unset;
                        font-size: 2em !important;
                    }
                }
            }
        }

        @media only screen and (max-width: 414px) {
            & {
                padding: 3em 1em !important;
                width: 100%;
            }
        }
    }
}

.comment-card {
    background: $color-theme-brand-light 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 5px 10px $color-black-opacity;
    display: flex;
    flex-direction: column;
    padding: 0 3em 0.5em 2.5em !important;
    font-family: "Gothic";
    font-size: 1.25em;
    border-radius: 0;

    .comment {
        position: relative;
        // height: 110px;
        overflow: scroll;
        scroll-behavior: smooth;
        // margin-bottom: 1rem;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &__text {
            font-family: "Gothic";
            font-weight: 600;
            font-size: 1.4em;
            letter-spacing: 0px;
            margin: unset !important;

            &--center {
                text-align: center;
            }
            &--small {
                font-size: 1em;
                font-weight: 400;
            }
            @media only screen and (max-width: 414px) {
                & {
                    font-size: 1em;
                }
            }
        }
    }

    &__progress {
        font-family: "Gothic";
        letter-spacing: 0px;
        font-style: italic;
        font-weight: normal;
        font-size: 0.7em;
        margin: 1rem 0;
        display: flex;
        gap: 1rem;
        justify-content: center;

        div:first-child {
            text-decoration: underline;
        }

        &--left {
            justify-content: left;
        }
    }

    &__subtitle {
        margin: 0 0 1em 0;
        font-family: "Gothic";
        font-size: 0.85em;
        letter-spacing: 0px;
        font-weight: normal;
    }

    &__gradient {
        background: linear-gradient(
            to bottom,
            rgba(255, 0, 0, 0),
            rgb(221, 213, 233)
        );
        position: sticky;
        bottom: 0;
        z-index: 10;
        height: 45px;
        width: 100%;
    }

    article {
        text-align: left;
        margin-top: 1.5rem;

        &--end-message {
            color: $color-primary-dark;
            font-family: "Gothic";
            font-size: 1em;
            margin: 0;
            padding: 1em;
        }
        hr {
            max-width: 60%;
            margin: 0 auto 1rem auto;
            border-bottom: 1px solid #262626;
            opacity: 0.8;
        }
    }

    & > form {
        max-width: 50rem;
        display: flex;
        margin: auto;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    & > article {
        font-size: unset !important;
    }
    &__button {
        visibility: visible;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-flow: column;
        text-align: center;
        max-width: 8.75rem;
        cursor: pointer;
        button {
            outline: 0;
            position: relative !important;
            img {
                max-width: unset;
                width: 5em;
                transition: unset !important;
                @media only screen and (max-width: 414px) {
                    & {
                        width: 3.5em;
                    }
                }
            }
        }
        span {
            font-style: italic;
            font-size: 0.9em;
            text-align: center;
            @media only screen and (max-width: 414px) {
                & {
                    font-size: 0.75em;
                }
            }
        }

        &--hidden {
            visibility: hidden;
        }
    }

    @media only screen and (max-width: 500px) {
        & {
            padding: 0 1em !important;
            width: 100%;
        }

        &__comment {
            margin: 1rem 0 0 0 !important;
            hr {
                max-width: unset !important;
                width: 100% !important;
                margin: 0 auto 1rem auto !important;
            }
        }
    }
}

.add-comment-form {
    background: transparent;
    grid-template-columns: auto minmax(auto, 800px) auto;
    margin: 1rem 0 0 0;

    &,
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    textarea {
        background: $color-white 0% 0% no-repeat padding-box;
        margin-bottom: 1.5em;
        box-shadow: inset 0px 5px 10px #00000029;
        border: 1px solid $color-primary-light;
        letter-spacing: 0px;
        color: $color-primary-dark;
        border-radius: 0.5rem;
        padding: 1em;
        font-size: 1em;
        min-height: unset !important;
        height: 5rem;
        resize: none;
    }

    textarea::placeholder {
        letter-spacing: 0px;
        color: $color-purple-darker !important;
        opacity: 0.68;
    }

    button {
        width: 180px;
        height: 50px;
        font-size: 1.2em;
        font-family: "Buendia";
        border-radius: 0.2rem;
        background: $color-pink-lighter 0% 0% no-repeat padding-box !important;
        border: transparent;
        text-transform: lowercase;
    }
}

.conecta-register-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    margin-bottom: unset;
    gap: 1rem;

    label {
        margin: 0 0 0.5rem 0;
    }

    label,
    input[type="submit"].is-primary {
        font-weight: bold !important;
        color: #262626 !important;
        font-family: "Buendia";
        font-size: 1.2em;
    }

    input[type="email"],
    input[type="text"] {
        border: 1px solid $color-primary-light !important;
        border-radius: 100px !important;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 5px 10px #00000029;
        padding: 0.2rem 1rem;
        box-sizing: content-box;

        @media (max-width: 700px) {
            width: 100% !important;
        }

        @media (max-width: 500px) {
            width: 90% !important;
        }
    }

    input[type="email"] {
        width: 90%;
    }

    input[type="text"] {
        width: 40%;
    }

    input[type="submit"].is-primary {
        box-shadow: 0px 3px 10px #00000029;
        background: #552f91 0% 0% no-repeat padding-box;
        border-radius: 0.2rem !important;
        border: 0px !important;
        color: white !important;
        font-weight: 400 !important;
        font-size: 1em;
        text-transform: lowercase;
        max-width: 300px !important;
        display: block;
        height: 60px;
    }

    .margin-xauto,
    .span2 {
        grid-column: span 2;
    }

    span {
        font-size: 1em;
        font-weight: 600;
        text-decoration: underline;
        font-family: "Gothic";
        color: #7e7e7e;
        cursor: pointer;
    }

    &--centered {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 30px;
        margin: 0 0 1rem 0;
        span {
            font-size: 0.9em;
        }

        input:first-child {
            background: #9982bd 0% 0% no-repeat padding-box !important;
        }

        @media (max-width: 700px) {
            flex-direction: column;
        }
    }

    &__field {
        ul:first-of-type {
            display: none;
        }

        input[type="email"],
        input[type="text"] {
            margin: 0;
        }
    }

    @media (max-width: 414px) {
        & {
            .span2.register-form--centered {
                align-items: flex-start;
            }
        }
    }

    @media (max-width: 700px) {
        & {
            display: flex;
            flex-direction: column;
            margin-top: 0;
            gap: 2rem;

            label {
                margin-bottom: 0;
            }
            input[type="submit"].is-primary {
                width: 100% !important;
            }
            span,
            input[type="submit"].is-primary {
                font-size: 18px;
            }
        }
    }
}

.conecta-finish-vote {
    background: $color-blue-light 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 10px 10px #00000033;
    border: 1px solid $color-primary-light;
    border: 1px solid $color-primary-light;

    &__btn-purple {
        background: $color-pink-lighter 0% 0% no-repeat padding-box;
        border-color: $color-pink-lighter;
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 0;
        color: $color-theme-white-ice;
        font-family: "Buendia";
        text-transform: initial;
        font-size: 1em;
        letter-spacing: 0;
        margin-top: 1.5em;
    }
}

// .conecta-add-comment {
//     margin-left: 0;
//     background: $color-theme-white-ice 0% 0% no-repeat padding-box;
//
//     p {
//         letter-spacing: 0px;
//         color: $color-purple-darker;
//     }
// }

#profile-info-page {
    background: #ddd5e9 0% 0% no-repeat padding-box;
    height: 100vh;
}

.conecta-buttons,
.conecta-profile-form {
    .profile-btn {
        display: flex;
        gap: 3rem;
    }

    .justify-center {
        justify-content: center;
    }

    input[type="submit"].is-primary,
    a {
        background: #552f91 0% 0% no-repeat padding-box;
    }

    .is-primary-purple {
        background: #552f91 0% 0% no-repeat padding-box;
    }

    input[type="submit"].is-primary {
        box-shadow: 0px 3px 10px #00000029;
        border-radius: 0.2rem !important;
        border: transparent !important;
        color: #f2f2f2 !important;
        font-weight: 400 !important;
        font-size: 1.4em !important;
        text-transform: lowercase !important;
        width: auto !important;
        display: block !important;
        margin: auto !important;
        height: 60px !important;
        font-family: "Buendia" !important;
        letter-spacing: 0 !important;
    }

    &__deny-btn {
        @extend .is-primary;
        background: #9982bd 0% 0% no-repeat padding-box !important;
    }

    &--share {
        display: flex;
    }
}

button[name="vote"] {
    all: unset;
}

.width-100 {
    width: 100%;
}

@media only screen and (max-width: 414px) {
    .comment-form {
        padding: unset !important;
        max-width: unset !important;
        margin: unset !important;
    }

    textarea {
        min-width: unset !important;
    }

    .conecta-buttons,
    .conecta-profile-form {
        .profile-btn {
            gap: 2rem;
            flex-direction: column;

            input[type="submit"] {
                width: 100% !important;
                margin-bottom: 1rem !important;
            }
        }
    }
    .conecta-vote-grid {
        grid-template-columns: 2% auto 2%;
    }
}

@media only screen and (max-width: 900px) {
    .comment-form {
        max-width: unset !important;
        margin: unset !important;
    }
}

@media (min-width: 1600px) {
    .conecta-profile-form {
        .form-fields {
            display: grid;

            grid-template-areas:
                "label_is_app_worker label_state label_state"
                "app_worker state state"
                "profile-subtitle profile-subtitle profile-subtitle"
                "label_gender label_race label_birth_date"
                "gender race birth_date";

            grid-template-rows: repeat(5, auto);
            grid-template-columns: 22% 18% 15%;
        }
    }
}
