/* generic classes */

.light-blue-bg {
    background-color: #f2f2f2;
}

.report-container .conversation-dashboard .voting-modal-report {
    i {
        color: $color-secondary-dark;
    }
}

.report-container .conversation-dashboard .voting-modal-report {
    &__content {
        display: flex;
        flex-direction: column;
        background-color: $color-secondary-dark;
        color: $color-low-pure;
    }
    &__triangle {
        border-bottom: 0.9375rem solid $color-secondary-dark;
    }
}

.report-container .conversation-dashboard .report-card {
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;

    &__count,
    &_label {
        color: $color-low-pure;
    }
}

.report-container .conversation-dashboard .dashboard-card {
    border: 2px solid #F2F2F2;
    background-color: #F2F2F2;

    &__value {
        color: $color-low-pure;
    }

    &--blue {
        background-color: $color-secondary-dark;
        color: $color-low-pure;
        border: 2px solid $color-secondary-dark;
    }
}
.charts-section{
    position: relative;
    > .loader{    
        display: block;
        visibility: hidden;
        opacity: 0;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 48%;
        top: 34%;
        transition: visibility 0s, opacity 0.5s linear;
        z-index: 9999;
    }
}

.export-chart-button {
    .export-button{
        transition: visibility 0s, opacity 0.5s linear;
        visibility: visible;
        opacity: 1;
        border: 1px solid #777777;
        border-radius: 0.3125rem;
        color: #777777;
        background-color: white;
        line-height: 1rem;
        text-transform: capitalize;
        padding: 0 0.5rem;
        margin-right: 0.5625rem;
        text-transform: lowercase;
        height: 1.82rem;
        font-weight: 400;
        font-size: 1rem;
    }
    position:relative;
        
}