.conecta-header {
    &__right-items {
        display: flex;
        gap: 1.5rem;
    }
    .form-language-selector{
        margin-bottom: 0;
        margin-right: 20px;
        &:hover, &:focus, &:active {
            background-color:transparent;
            border-width: 0px;
        }
        select{
            color:#552F91;
            margin: 0;
            min-width: 0;
            padding: 0px 7px;
            border-radius: 6px;
            line-height: 0px;
            border-width: 0px;
            &:hover, &:focus, &:active {
                background-color:transparent;
                border-width: 0px;
                box-shadow: none;
            }
        }
    }
    .help-text {
        line-height:normal;
        text-align: left;
        font-size: 14px;

        a {
            margin:0;
            color: #552F91BF;
            font-family: 'Buendia', sans-serif;

            span {text-transform: lowercase;}
        }
    }
}

@media (max-width: 700px) {
    .conecta-header {
        .help-text {
            display: none;
        }
    }
}
