@import 'src/ej/static/ej/scss/components/profiles/_profile.scss';

.form-profile {
    grid-template-rows: repeat(5, 1fr) !important;
}

.form-profile__gender_other {
    grid-area: 4 / 2 / 5 / 3 !important;
}

input[disabled] {
    border-color: $color-primary-light;
}
