.conecta-profile-form {
    max-width: 1000px;
    margin: auto;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #00000033;
    border: 1px solid #DDD5E9;
    padding: 45px;

    .form-fields {
        & > * {
            font-family: 'Buendia' !important;
            letter-spacing: 0px;
        }

        display: grid;

        grid-template-rows: auto auto auto;
        grid-template-columns: 33% 10% 25% 1fr;

        &__worker {
            grid-row: 1;
            grid-column: 1;
        }

        &__state {
            grid-row: 1;
            grid-column: 3/4;
        }

        .profile-subtitle {
            grid-row: 2;
            grid-column: 1 / 4;
            margin-bottom: 2rem;
            margin-top: 1rem;
            span {
                color: $color-primary-dark !important;
            }
        }

        &__gender,
        &__race,
        &__current-age {
            & label::after {
                content: ":";
            }
        }

        &__gender {
            grid-row: 3;
            grid-column: 1;
        }

        &__race {
            grid-row: 3;
            grid-column: 2 / 4;
        }

        &__current-age {
            grid-row: 3;
            grid-column: 4 / 5;
        }

        label {
            text-transform: initial;
            margin-bottom: 0.5em;
            font-size: 1.1em;

            input {
                letter-spacing: 0px;
            }
        }
        &__label {
            &--bigger {
                font-size: 1.4em !important;
                font-weight: bold;
            }
        }

        #id_current_age {
            width: 50%;
            margin-top: 0;
            background: #9982BD 0% 0% no-repeat padding-box;
            border: transparent !important;
            border-radius: 35px !important;
            color: #f2f2f2;
        }



        #id_is_app_worker li.active {
            background: $color-primary-dark !important;
            label {
                color: $color-white !important;
            }
        }

        #id_is_app_worker {
            list-style-type: none;
            margin-bottom: 2rem;
            display: flex;

            li {
                float: left;
                margin: 0 20px 0 0;
                width: 80px;
                height: 35px;
                position: relative;
                background: #9982BD 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 35px;
                cursor: pointer;
            }

            input[type="radio"] {
                cursor: pointer;
            }

            label {
                padding: 7px 7px 7px 24px;
                cursor: pointer;
                z-index: 90;
                font-family: 'Gothic' !important;
                font-weight: bold;
                font-size: 1em;
            }
        }

        select {
            background: #9982BD 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border: transparent;
            border-radius: 35px;
            color: white;
            width: fit-content;
            margin-top: 0;
            padding: .2rem 1rem;
            box-sizing: content-box;
        }

        @media (max-width: 700px) {
            grid-template-columns: auto;
            grid-template-rows: auto;

            &__worker,
            &__state,
            &__gender,
            &__race,
            &__current-age,
            .profile-subtitle {
                grid-column: 1;
                grid-row: unset;
            }
        }
    }
}

@media (max-width: 700px) {
    .conecta-profile-form {
        width: 95%;
        background: #F2F2F2 0% 0% no-repeat padding-box;
        box-shadow: 0px 10px 10px #00000033;
        border: 1px solid #DDD5E9;
        padding: 45px;
    }
}

@media (max-width:900px){
    .profile-header{
        h1 {
            overflow-wrap: anywhere !important;
        }
    }
}
