{% extends 'ej_profiles/base.jinja2' %}
{% from "ej/includes/tabs.jinja2" import tabs %}

{% block page_content %}
    <div class="content-grid">
        <div class="profile-header" id="edit-header">
            <div class="profile-header__photo">
                {% if profile.has_image %}
                    <img id="profile-photo" class="size-6 margin-t3 block profile-header__photo--rounded" src="{{ profile.image_url }}" alt="{{ _('Profile picture') }}">
                {% else %}
                    <img id="profile-photo" class="size-6 margin-t3 block relative" src="{{ profile.image_url }}" alt="{{ _('Profile picture') }}">
                {% endif %}
            </div>
            <div class="profile-header__text">
                {% block page_title %}<h1 class="h2 text-accents">{{ profile.name }}</h1>{% endblock %}
                <h4>{{_("joined")}} {{ profile.date_joined.strftime('%d/%m/%Y')  }}</h4>
            </div>
        </div>
    </div>
    <div class="form-element ">
        <div class="content-grid inputs-min-size">
        {{ tabs({_('Profile'): 'profile-info',
                _('Account'): 'profile-account'}) }}
            <div class="form-profile form-profile--row-separation tabs__tab-content" id="profile-info">
                <div class="form-profile__name">
                    <label>{{_("name")}}</label>
                    <span>{{ profile.name }}</span>
                </div>
                <div class="form-profile__email">
                    <label>{{_("email")}}</label>
                    <span>{{profile.email}}</span>
                </div>
                <div class="form-profile__city">
                    <label>{{_("city")}}</label>
                    <span>{{ profile.city}}</span>
                </div>

                <div class="form-profile__state">
                    <label>{{_("state")}}</label>
                    <span>{{ profile.state}}</span>
                </div>

                <div class="form-profile__country">
                    <label>{{_("country")}}</label>
                    <span>{{ profile.country}}</span>
                </div>

                    <div class="form-profile__birth-date">
                        <label>{{_("Age")}}</label>
                        {% if is_conecta_profile %}
                            <span>{{ profile.current_age }}</span>
                        {% endif %}
                    </div>

                <div class="form-profile__occupation">
                    <label>{{_("occupation")}}</label>
                    <span>{{ profile.occupation}}</span>
                </div>

                <div class="form-profile__education--detail">
                    <label>{{_("education")}}</label>
                    <span>{{ profile.education}}</span>
                </div>
                <div class="form-profile__race">
                    <label>{{_("race")}}</label>
                    <span>{{ profile.race}}</span>
                </div>
                <div class="form-profile__gender_other">
                    <label>{{_("gender ")}}</label>
                    <span>{{ profile.gender}}</span>
                </div>
                <div class="form-profile__phone--detail">
                    <label>{{_("Phone number")}}</label>
                    <span>{{ profile.phone_number}}</span>
                </div>
                    <div class="form-profile__is_app_worker--detail">
                        <label>{{_("Are you an app worker?")}}</label>
                        {% if is_conecta_profile %}
                            <span>{{ _("Yes") if profile.is_app_worker else _("No") }}</span>
                        {% else %}
                            <span>{{ _('No')}}</span>
                        {% endif %}
            </div>

            <div class="form-profile__edit">
                <div class="content-grid">
                    <div id="btn-edit" class="form-profile--buttons">
                        {{ link(_("Edit profile"), href="profile:edit", button=True, class="block margin-y3 form-profile--buttons__action") }}
                    </div>
                </div>
            </div>
        </div>

        <form method="post" class="form-element profile-form-account" enctype="multipart/form-data">
            {{ csrf_input }}
            <div id="profile-account" class="tabs__tab-content">
                <div class="inputs-min-size">
                    <h3 class="form-profile--subtitle">{{_("Change password")}}</h3>
                    <div class="form-profile">
                        <div class="form-profile__current-password">
                            <label>{{_("current password")}}</label>
                            {{change_password_form.current_password}}
                            {{change_password_form.current_password.errors}}
                        </div>
                        <div class="form-profile__new-password">
                            <label>{{_("new password")}}</label>
                            {{change_password_form.password}}
                            {{change_password_form.password.errors}}
                        </div>
                        <div class="form-profile__confirm-password">
                            <label>{{_("confirm password")}}</label>
                            {{change_password_form.password_confirm}}
                        </div>
                        <div class="form-profile__save">
                            <input class="button" type="submit" name="submit" value="{{ _('Save') }}">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}


