{% extends 'base.jinja2' %}

{% set main_class = main_class|default('container pad-x0') %}
{% set hide_menu = True %}
{% set hide_header = True %}

{% block content %}
<div class="tour-backdrop"></div>
<div class="tour-card">
    <div id="tour-page">
        {% include 'ej_profiles/includes/tour-page1.jinja2' %}
    </div>
</div>
{% endblock %}

