@import 'src/ej/static/ej/scss/components/main/_elements.scss';
@import 'src/ej/static/ej/scss/_elements.scss';

h1,
h2,
h3,
p,
span {
    letter-spacing: 0px;
}

h1 {
    font-weight: 500;
}

h3 {
    color: $color-secondary-dark;
}

.body {
    margin-bottom: unset !important;
}

.conecta-icon {
    i {
        margin: 0 .5em 0 0;
    }
    margin: auto 0.5em 0 0;
}

.toast {
    display: none !important;
    @include utilities('pad-3 shadow-2 semi-bold');
    background-color: $color-secondary-dark;
    color: $color-white;
    margin-left: auto !important;
    opacity: unset;

    &__icon {
        @extend .pad-2;
        @include color('white' 'brand');
        border: 6px solid;
        border-radius: 50rem;
        box-sizing: content-box;
        line-height: 2rem;
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
    }
    &__content {
        > * {
            margin: 0 !important;
        }
        span {
            @include utilities('text-4 bold text-brand');
            color: $color-white !important;
            font-family: 'Buendia';
        }
    }
}
.toast--show {
    display: flex !important;
}
