<div data-export="true" class="channels-chart chart-div">
    <div class="channels-chart__header">
        <h2 class="charts-section__title">{{ _('channel participation') }}</h3>
        <div class="participant-filter">
            <div class="participant-filter__buttons">
                <button id="id_part_button" onclick="selectParticipation(event.target)"
                    class="participant-filter__button">{{ _('participants')}}</button>
                <button id="id_vote_button" onclick="selectParticipation(event.target)"
                    class="participant-filter__button">{{ _('votes')}}</button>
                <div class="export-chart-button">
                    <button class="export-button" onclick="exportDivAsPNG(event.target)" class="participant-filter__button">{{ _('export')}}</button>
                </div>
            </div>
        </div>
    </div>
    <div id="pizza-chart-container">
        <div id="channels-chart" style="width: 100%; height: 400px;"></div>
    </div>
</div>
<script>

    let voteButton = document.getElementById('id_vote_button');
    let partButton = document.getElementById('id_part_button');
    let data = [];

    window.addEventListener('load', loadVoteVisualization);

    function renderChannelsChart() {
        let channels = [data[0].name, data[1].name, data[2].name, data[3].name, data[4].name];
        let values = [
            {value: data[0].value},
            {value: data[1].value},
            {value: data[2].value},
            {value: data[3].value},
            {value: data[4].value}
        ]

        let chart = echarts.init($('#channels-chart')[0]);
        let options = {
            color: "#0088cc",
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                top: '5%',
                width: '85%'
            },
            xAxis: {
                type: 'category',
                data: channels
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                data: values,
                type: 'bar'
                }
            ]
            };
        chart.setOption(options);
    }

    async function loadVoteVisualization() {
        selectParticipation(voteButton);
    }

    function setData(option) {
        data = [
            {name: "Telegram", value: option.telegram, fill: "#0088cc" },
            {name: "WhatsApp", value: option.whatsapp, fill: "#128c7e" },
            {name: "EJ", value: option.ej, fill: "#7758B3" },
            {name: "{{_('Opinion Component')}}", value: option.opinion_component, fill: "#ff3e72" },
            {name: "{{_('Unknown')}}", value: option.unknown, fill: "#c4c4c4" },
        ]
    }

    function selectParticipation(selectedButton) {
        let notSelected;

        if (selectedButton == voteButton) {
            notSelected = partButton;
            setData({{statistics.channel_votes|safe}});
        }
        else {
            notSelected = voteButton;
            setData({{statistics.channel_participants|safe}});
        }

        selectedButton.classList.add('participant-filter__button--selected');
        notSelected.classList.remove('participant-filter__button--selected');

        renderChannelsChart();
    }
</script>
