<div data-export="true" class="time-chart">
    <div class="date-picker">
      <h3 class="charts-section__title">{{_('Vote period')}}</h3>
      <div class="date-picker__input">
          <input id="start-date" type="date">
          <span>&#8208;</span>
          <input id="end-date" type="date">
      </div>
      <div class="export-chart-button">
        <button class="export-button" onclick="exportDivAsPNG(event.target)" class="participant-filter__button">{{ _('export')}}</button>
      </div>

    </div>

    <div class="time-chart__container">
      <div class="time-chart--loading">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
      </div>
      <div id="voting-time-chart"></div>
        <div class="time-chart--invalid-dates">
            <span>{{ _('end date must be gratter then start date') }}</span>
        </div>
    </div>
</div>
<script>

 function formatDate(unformatedDate, locale="") {
    unformatedDate = new Date(unformatedDate);
    let Day = unformatedDate.getUTCDate() >= 10 ? unformatedDate.getUTCDate() : `0${unformatedDate.getUTCDate()}`;
    let Month = unformatedDate.getUTCMonth() + 1 >= 10 ? unformatedDate.getUTCMonth() + 1 : `0${unformatedDate.getUTCMonth() + 1}`;
    let Year = unformatedDate.getFullYear();

    if (locale) {
       return `${Day}/${Month}/${Year}`;
    }
    return `${Year}-${Month}-${Day}`;
 }

 function renderVotingChart(votes) {
     let chart = echarts.init($('#voting-time-chart')[0], null);
     data = votes.data
     const X = data.map(d => formatDate(d.date, "pt-br"))
     const Y = data.map(d => d.value)
     let option = {
         textStyle: {
             fontFamily: "Work Sans"
         },
         color: ['#042A46'],
         grid: {
             top: '5%',
             width: '85%'
         },
         tooltip: {
            trigger: 'axis'
         },
        xAxis: {
            type: 'category',
            data: X,
            boundaryGap: false,
        },
        yAxis: {
            type: 'value',
        },
        series: [
            {
            data: Y,
            type: 'line',
            areaStyle: {}
            }
        ]
    };
    chart.setOption(option);
 }

function setDateFilter(startDate, endDate) {
    $('#end-date')[0].value = formatDate(endDate);
    $('#start-date')[0].value = formatDate(startDate);
}

function listenToDateChanges() {
    let startDateInput = $("#start-date")[0];
    let endDateInput = $("#end-date")[0];
    startDateInput.onchange = updateVisualization
    endDateInput.onchange = updateVisualization
}

function showLoading() {
  $(".time-chart--loading")[0].style.display = "block";
}

function hideLoading() {
  $(".time-chart--loading")[0].style.display = "none";
}

async function updateVisualization() {
    if (startDateIsBiggerThenEndDate()) {
      showErrors("invalid-dates");
      return;
    }
    hideErrors();
    showLoading();
    var voteData = await requestData();
    hideLoading();
    renderVotingChart(voteData);
}

async function loadVoteVisualization() {
    listenToDateChanges();
    showLoading();
    var voteData = await requestData();
    if (voteData.start_date && voteData.end_date) {
        setDateFilter(voteData.start_date,voteData.end_date);
    }
    hideLoading();
    renderVotingChart(voteData);
}

function parseDate(voteData) {
  voteData.data.map(d => ({date: new Date(d.date), value: d.value}))
  return voteData;
}

function startDateIsBiggerThenEndDate() {
  var startDate = $("#start-date")[0].value;
  var endDate = $("#end-date")[0].value;
  return startDate > endDate;
}

function showErrors() {
  $(".time-chart--invalid-dates")[0].style.display = "block";
}

function hideErrors() {
  $(".time-chart--invalid-dates")[0].style.display = "none";
}

async function requestData() {
  var startDate = $("#start-date")[0].value;
  var endDate = $("#end-date")[0].value;

  var url =
    "/conversations/{{conversation.id}}/{{conversation.slug}}/report/votes-over-time?startDate=" +
    startDate +
    "&endDate=" +
    endDate
  var response = await fetch(url);
  var data = await response.json();

  if (data.error) {
    showErrors();
    return {};
  }

  return data;
}

function showDatePickers () {
  let startDate = $("#start-date")[0];
  let endDate = $("#end-date")[0];
  startDate.addEventListener('click', () => {startDate.showPicker()});
  endDate.addEventListener('click', () => {endDate.showPicker()});
}

window.addEventListener('load', loadVoteVisualization);
window.addEventListener('load', showDatePickers);
</script>
