{% macro link_macro(url) %}
{{- link(caller(), url, **kwargs) -}}
{% endmacro %}

<header class="main-header" is-component aria-label="{{ _('Top header') }}" role="banner">
    <a is-element="toggleMenu:click" aria-haspopup="true" aria-controls="page-menu" href="#"
       aria-label="{{ _('Toggle navigation menu') }}">
        <i class="fa fa-ellipsis-v"></i>
    </a>

    <a {{ link_attrs('profile:home')|safe }} class="main-header__logo">
        <img src={{ static("img/logo/logo.svg") }} alt="{{ _('Logo') }}" aria-label="{{ _('Back to initial page') }}">
    </a>

    {% if request.user.profile|default(None) %}
    <div class="main-header__user">
        <a aria-haspopup="true" href="#" id="img-profile">
        <img is-element="toggleProfile:click" class="main-header__avatar" src="{{ request.user.profile.image_url }}"
            alt="{{ _('Profile picture') }}"></a>

        <div id="show-floating-menu" class="floating-menu hide">
            {% include 'ej/includes/profile-menu.jinja2' %}
        </div>
    </div>

    {# For route without profile #}
    {% else %}
        {% call link_macro('profile:detail', title=_('Profile')) %}
            <img class="main-header__avatar" src="{{ static('img/icons/navbar_profile.svg') }}" alt="">
        {% endcall %}
    {% endif %}
    <form method="post" action="{{ url_for('set_language') }}">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <select name="language" onchange="this.form.submit()">
            <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
            <option value="pt-br" {% if LANGUAGE_CODE == 'pt-br' %}selected{% endif %}>Português</option>
            <option value="es" {% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
        </select>
    </form>
    
</header>
