<div class="comment-card">
    <article class="col flex-center comment-card__content" aria-label="{{ _("Comment") }}"><span>{{ comment.content }}</span></article>
    {% if show_actions %}
        <form method="post" class="width-full" id="comment-form" up-target="{{ target or 'main' }}" up-restore-scroll up-transition="move-to-right/fade-in">
            {{ csrf_input }}
            <input type="hidden" name="action" value="vote">
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <div class="row">
                {% for value, (icon, cls, msg) in buttons.items() %}
                    <div up-expand class="comment-card__button">
                        <button type="submit" form="comment-form" name="vote" value="{{ value }}">
                            <i><img src="{{ static(icon)}}"></i>
                        <span>{{ msg }}</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </form>
    {% else %}
        <p class="comment-card__message">
            {% if message is defined %}{{ message }}{% else %}
                {% trans %}It is necessary to {{ login_anchor }} before voting or sending a comment!{% endtrans %}
            {% endif %}
        </p>
    {% endif %}
</div>

