<nav class="floating-menu__section">
    <div class="floating-menu__username">
            <img class="profile-avatar" src="{{ static('img/icons/navbar_profile.svg') }}"
                alt="{{ _('Profile picture') }}">
            <div>
                <p>{{_("Anonymous user")}}</p>
            </div>
    </div>
</nav>

<nav class="floating-menu__section floating-menu__profile">
    <ul>
        <li>
            <i class="fas fa-id-card"></i>
            <a href="/login">{{ _('Login')}}</a>
        </li>
    </ul>
</nav>

<nav class="floating-menu__section floating-menu__logout">
    <ul>
        <li>
            <i class="fas fa-broadcast-tower"></i>
            <a target="#blank" href="https://itsrio.org/pt/projetos/conecta-trabalhadores/">{{ _('About Conecta')}}</a>
        </li>
    </ul>
</nav>
