{% macro link_macro(url) %}
{{- link(caller(), url, **kwargs) -}}
{% endmacro %}

{% set tour_url =  url("conecta:tour")+'?completedTour=false' if request.user.is_anonymous else url("profile:tour")+'?completedTour=false'  %}

<header class="main-header conecta-header" is-component aria-label="{{ _('Top header') }}" role="banner">

    <a {{ link_attrs('profile:home')|safe }} class="main-header__logo">
        <img src={{ static("img/icons/logo-conecta.svg") }} alt="{{ _('Logo') }}"
            aria-label="{{ _('Back to initial page') }}">
    </a>

    <div class="conecta-header__right-items">
        <div class="flex justify-end main-header__user">
            <a href="{{ tour_url }}">
                <img is-element="toggleProfile:click"
                    class="main-header__avatar main-header__avatar"
                    src="{{ static('img/icons/help.svg') }}" alt=""
                >
            </a>
            <div class="help-text">
                <a href="{{ tour_url }}">
                    {{_("I am in doubt,")}}<br>
                    <span>{{_("How does this website works?")}}</span>
                </a>
            </div>
        </div>

        {% if request.user.profile|default(None) %}
        <div class="main-header__user">
            <a aria-haspopup="true" href="#" id="img-profile">
            <img is-element="toggleProfile:click" class="main-header__avatar" src="{{ request.user.profile.image_url }}"
                alt="{{ _('Profile picture') }}"></a>

            <div id="show-floating-menu" class="floating-menu hide">
                {% include 'ej/includes/profile-menu.jinja2' %}
            </div>
        </div>
        {% else %}
            <div class="main-header__user">
                <a aria-haspopup="true" href="#" id="img-profile">
                <img is-element="toggleProfile:click" class="main-header__avatar" src="{{ static("img/icons/navbar_profile.svg") }}"
                    alt="{{ _('Profile picture') }}"></a>

                <div id="show-floating-menu" class="floating-menu hide">
                    {% include 'ej/includes/anonymous-menu.jinja2' %}
                </div>
            </div>
        {% endif %}
        <form class="form-language-selector" method="POST" action="{{ set_language_url }}">
            <select id="language-selector" name="language" onchange="this.form.submit()">
                {% for code, name in LANGUAGES %}
                    <option value="{{ code }}" {% if code == get_language() %}selected{% endif %}>
                        {{ name }}
                    </option>
                {% endfor %}
            </select>
            {{ csrf_input }}
        </form>
        
        
    </div>
</header>
