//------------------------------------------------------------------------------
// CONVERSATION CARD
//------------------------------------------------------------------------------
@import 'src/ej/static/ej/scss/components/conversations/_card.scss';
@import "../../config";

$_card-width: 100%;

:root {
    --theme-color: #{color('brand')};
    --theme-light-color: #{color('brand-lighter')};
}

.conversation-card {
    @include utilities('center text-6 col items-center');
    background-color: $color-white !important;
    border: 1px solid $color-primary-pure;
    color: $color-black;

    &__tags {
        color: $color-primary-light;
        background-color: $color-primary-pure !important;
    }
    &__statistics {
        color: $color-primary-dark !important;
    }
    &__button {
        background: url('/static/img/bg/conecta-conversation-card.png');
    }
    .progress-bar {
        width: 10rem;

        &__progress {
            border-color: color('white');
        }
    }
    &__text {
        a {
            color: $color-black;
            font-weight: 400;
        }
    }
}
