//------------------------------------------------------------------------------
// CONVERSATION DETAIL (balloon / comment card / comment form / extra / progress bar)
//------------------------------------------------------------------------------
@import '../../../node_modules/mendeleev.css/src/components/mixins/arrow';
@import '/ej-application/src/ej/static/ej/scss/components/conversations/_detail.scss';

// $component-border-radius: size(config('ej.style.border-radius'));
$component-border-radius: 8px;

@mixin themed($prop, $value: null) {
    @if $value == light {
        #{$prop}: var(--theme-light-color);
    } @else if $value == dark {
        #{$prop}: $color-primary-dark;
    } @else if $value == conecta-trabalhadores {
        #{$prop}: $color-secondary-pure;
        color: $color-low-pure;
    } @else {
        #{$prop}: var(--theme-color);
    }
}

@mixin themed-card($prop, $value: null) {
    @if $value == white {
        #{$prop}: $color-white !important;
        color: $color-low-pure;
    }
    @if $value == light {
        #{$prop}: $color-primary-light;
        color: $color-low-pure;
    } @else if $value == dark {
        #{$prop}: $color-primary-dark;
        color: $color-white;
    } @else {
        #{$prop}: var(--theme-color);
    }
}

.main-header {
    height: 4rem;

    &__logo img {
        height: 3rem;
    }
}

.comment-card {
    max-height: unset !important;
}

.conecta-loader {
    @extend .loader;
    position: absolute;
    top: 1em;
    left: calc(50% - 1.5em);
    width: 3em;
    height: 3em;
    margin: unset;
}
