#terms-modal {
    visibility: hidden;
    opacity: 1;
    font-family: 'Gothic';

    .tour-card {
        height: unset;
    }

    .terms-modal {
        &__close-icon,
        &__title {
            color: $color-white;
            font-size: 1.5rem;
        }
        &__title {
            font-family: 'Buendia';
            flex-grow: 1;
        }
        &__header {
            height: 3.8rem;
            padding: 1rem;
            display: flex;
            background-color: $color-brand;
        }
        &__body {
            background: $color-white;
            padding: 2rem 1rem;
            background-color: rgba(245, 245, 245, 1);
        }
        &__content {
            overflow: scroll;
            height: 17.5rem;
            border: unset;
            background: $color-white;
        }
    }
}
