//------------------------------------------------------------------------------
// PAGE NAVIGATION ELEMENTS
//------------------------------------------------------------------------------

@import 'src/ej/static/ej/scss/components/main/_navigation.scss';
@import "../../config";


.main-header > a:nth-child(1) {
    display: block !important;
}

.page-menu h3 {
    font-weight: bold;
}

.advanced-search{
    .paginator{
        display: flex;
        justify-content: space-between;
        max-width: 300px;    
    }
}    