{% from "ej_conversations/includes/toast.jinja2" import dialog %}

{{ dialog("comment-dialog-confirmation", _("Thank you! Your comment was sent to moderation and will be evaluated soon."))}}
<div class="add-comment-form">
    {% if user == None %}
        <p>{% trans %}Please <a href="{{ login_anchor }}">login</a> to vote on this conversation.{% endtrans %}</p>
    {% elif not user_can_add_comments %}
        <h3>{% trans %}Ooops!{% endtrans %}</h3>
        <p>{% trans %}You reached the limit of comments in this conversation.{% endtrans %}</p>
    {% else %}
        <div class="col margin-y3 pad-x2" id="comment-card">
                <h1 class="text-accent left conecta-icon">
                    <i class="fa">&#xf055;</i>
                    {{ _('I want to add my ideia!') }}
                </h2>
                <form id="add-comment-form"
                    class="width-full"
                    hx-post="{{ url('conecta:new-comment', **conversation.get_url_kwargs()) }}"
                    hx-target=".add-comment-form"
                    hx-swap="outerHTML"
                >
                    {{ csrf_input }}
                    <input type="hidden" name="action" value="comment" placeholder="{{_('Enter your proposal for the question that appears on this screen here.')}}">
                    {{ form.non_field_errors() }}
                    {{ form.content.errors }}
                    <textarea name="content" cols="40" rows="5" maxlength="252"
                        placeholder="{{_('Type here your answer to the question: ') + conversation.text }}"
                        title="Sugira um novo comentário" required="" id="id_content"
                    ></textarea>
                    <button  class="is-primary button" type="submit" aria-label="{{ _('Send') }}">{{ _('Send') }}</button>
                </form>
        </div>
    {% endif %}
</div>

<script>
    $("#add-comment-form").on("htmx:afterRequest", () => {
        showConfirmationDialogFor("#comment-dialog-confirmation")
        $("textarea")[0].value = "";
    });
</script>
