{% if user_can_participate %}

    <div id="comment-content-container">
        {% from "ej_conversations/includes/toast.jinja2" import dialog %}
        {{ dialog("voting-dialog-confirmation", _("Thanks for voting.")) }}

        <div class="conecta-vote-card">
            {% include 'ej_conversations/includes/conversation-header.jinja2' %}
        </div>

        <div class="conecta-comment-grid">
            <div class="comment-card">
                <article>
                    <div class="comment-card__subtitle">{{(_("Other people suggested the following ideia:"))}}</div>
                    <div class="comment">
                        <p class="comment__text">
                            {{ comment.content }}
                        </p>
                        <div class="comment-card__gradient"></div>
                    </div>
                </article>

                <form id="voting-form"
                    class="width-full"
                    hx-trigger="click delay:1.5s"
                    hx-post="{{ url('boards:conversation-detail', **conversation.get_url_kwargs()) }}"
                    hx-target="#comment-content-container" hx-swap="outerHTML">
                    {{ csrf_input }}
                    <input type="hidden" name="vote" value="">
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                        <div class="comment-card__button">
                            <button onclick="showSpinner('agree')"
                                    name="vote"
                                    value="agree"
                                    form="voting-form">
                                <img src="/static/img/vote/solve.svg">
                                <span id="agree-spinner" style="display: none" class="conecta-loader"></span>
                            </button>
                            <span>{{_("Solve")}}</span>
                        </div>
                        <div class="comment-card__button">
                            <button
                                    onclick="showSpinner('disagree')"
                                    name="vote"
                                    value="disagree"
                                    form="voting-form">
                                <img src="/static/img/vote/no-solve.svg">
                                <span id="disagree-spinner" style="display: none" class="conecta-loader"></span>
                            </button>
                            <span>{{_("It does not solve")}}</span>
                        </div>
                        <div class="comment-card__button">
                            <button onclick="showSpinner('skip')"
                                    name="vote"
                                    value="skip"
                                    form="voting-form">
                                <img src="/static/img/vote/doubt.svg">
                                <span id="skip-spinner" style="display: none" class="conecta-loader"></span>
                            </button>
                            <span>{{_("I am in doubt")}}</span>
                        </div>
                </form>
                <div class="comment-card__progress">
                    <div>
                        {{ n_user_final_votes }} {{_("of")}} {{ conversation.n_approved_comments }} {{_("ideias")}}
                    </div>
                </div>
            </div>
        </div>
        <script>

            $("#voting-form").on("htmx:afterRequest", () => {
                if (event.target.id == 'voting-form' && event.detail.successful){
                    showConfirmationDialogFor("#voting-dialog-confirmation")
                }
            });

            function setVoteInputChoice(choice) {
                $("input[name='vote']")[0].value = choice;
            }

            function disableButtonsDuringRequest() {
                buttons = $("form").find("button");
                for (let button of buttons) {
                    button.disabled = true;
                }
            }

            function showSpinner(choice) {
                setVoteInputChoice(choice);
                disableButtonsDuringRequest();
                let voteOptionImg = $(`button[value=${choice}] img`)
                voteOptionImg.addClass("comment-card__button--hidden");
                let spinner = $(`#${choice}-spinner`);
                spinner.addClass("show");
            }
        </script>
    </div>

{% else %}
    {% include 'ej_users/conecta-register.jinja2' %}
{% endif %}