<div id="comment-content-container">
    {% from "ej_conversations/includes/toast.jinja2" import dialog %}
    <dialog class="toast toast--hide" id="share-conversation-dialog-confirmation">
        <div class="toast__content">
            <span>{{_("Link copied to clipboard")}}</span>
        </div>
    </dialog>
    <div id="comment-content-container">
        <div class="conecta-vote-card">
            {% include 'ej_conversations/includes/conversation-header.jinja2' %}
        </div>
        <div class="conecta-comment-grid">
            <div class="conecta-finish-vote comment-card">
                <article>
                    <p class="comment__text comment__text--center">
                        {{_("You have already reacted to all the proposals made for this question.")}}
                    </p>
                    <p class="comment__text comment__text--center comment__text--small">
                        {{_("Click on share button to copy the conversation link and send it to your comunity.")}}
                    </p>
                    <div class="margin-y4 margin-xauto conecta-buttons flex justify-center">
                        <div class="margin-xauto profile-btn">
                            <button type="button"
                                    id="finish-voting-button"
                                    onclick="conectaShare()"
                                class="width-full conecta-buttons--share conecta-buttons--is-primary-purple">
                                <i class="fas fa-link"></i>
                                {{_("Share this research")}}
                            </button>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    {% include 'ej_conversations/comments/add-comment.jinja2' %}
    <script>
    function conectaShare(){
        const url = `${window.location.pathname}`;
        const updatedUrl = url.replace(/profile\/?$/, '');
        let link = `${window.location.origin}/conecta${updatedUrl}participe`;
        navigator.clipboard.writeText(link).then(() => {
            showConfirmationDialogFor("#share-conversation-dialog-confirmation");
        });
    }
    </script>
</div>
