{% extends 'ej_conversations/base.jinja2' %}
{% set main_class = 'pad-x0' %}
{% block menu %}{% include 'ej_conversations/includes/participant-menu.jinja2' %}{% endblock %}


{% block content %}
    <form method="POST" class="width-full">
        {{ csrf_input }}
        {% block balloon %}
            {% with create_mode=true %}
                {% include 'ej_conversations/includes/editable-conversation-balloon.jinja2' %}
            {% endwith %}
        {% endblock %}

        {% block form_content %}
            <div class="conversation-form content-grid">
                <div>
                    {# CONVERSATION FORM #}
                    <h1 class="text-accent">{{ _('Advanced settings') }}</h3>
                    <p class="helptext">
                    {{_("Optional fields. The following information serves to facilitate
                        the identification and management of your conversation.")}}</p>

                    <h4 class="conversation-form__h4">{{_("Anonymous participation")}}</h4>
                    <div class="block">
                        <div class="flex">
                            <label for="">{{_("Anonymous votes")}}</label>
                            <span class="helptext">&nbsp;({{_("optional")}})</span>
                        </div>
                        {{form.anonymous_votes_limit}}
                        <legend>{{_("Configures how many anonymous votes participants can give.")}}</legend>
                    </div>

                    <h4 class="conversation-form__h4">{{_("Delivery worker profile")}}</h4>
                    <div class="block">
                        <div class="flex">
                            <label for="">{{form.custom_fields_limit.label}}</label>
                            <span class="helptext">&nbsp;({{_("optional")}})</span>
                        </div>
                        {{form.custom_fields_limit}}
                        <legend>{{form.custom_fields_limit.help_text}}</legend>
                    </div>

                    <h4 class="conversation-form__h4">{{_("Conversation duration")}}</h4>
                    <div class="conversation-form__duration">
                        <div>{{form.start_date}}</div>
                        <div>{{form.end_date}}</div>
                    </div>

                    {% block conversation_form_button %}
                        <div class="margin-xauto margin-y3">
                            <input class="is-primary button" type="submit" value="{{ _('Create conversation') }}">
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}


{% block javascript %}
    {{ super() }}
    <!--suppress SpellCheckingInspection -->
    <script>
        window.addEventListener('load', function () {
            $('#add-more-comments')
                .on('click keypress', function (ev) {
                    // keycodes: 13 = return; 32 = space
                    if (ev.type === "keypress" && (![13, 32].includes(ev.keyCode))) return;
                    var $input = $('input[name="comments_count"]'),
                        index = parseInt($input.val(), 10) + 1,
                        template = (
                            '<label>' +
                            `{{ gettext(" Comment ") }} ${index}` +
                            '<textarea name="comment-%i%" placeholder="{{ _('Type your comment here') }} #%i%"></textarea>' +
                            '</label>');
                    $input.val(index);
                    $('#comment-list').append(template.replace(/%i%/g, index));
                });
        });
    </script>
{% endblock %}

