{% extends 'ej_conversations/conversation-create.jinja2' %}
{% block menu %}{% include 'ej_conversations/includes/menu.jinja2' %}{% endblock %}

{% block balloon %}
    {% with create_mode=false %}
        {% include 'ej_conversations/includes/editable-conversation-balloon.jinja2' %}
    {% endwith %}
{% endblock %}

{% block form_content %}{{super()}}{% endblock %}

{% block initial_comments %}{% endblock %}

{% block conversation_form_button %}
    <div class="margin-xauto margin-y3">
        <input class="is-primary button" type="submit" value="{{ _('Edit conversation') }}">
    </div>
{% endblock %}
