{% extends 'ej_conversations/base.jinja2' %}
{% set page_title = _('Conversation: "{}"').format(conversation.text) %}
{% set hide_menu = True %}
{% from "ej_conversations/includes/metatags.jinja2" import adds_conversation_metatags %}

{% block meta %}
    {{ super() }}
    {{ adds_conversation_metatags(conversation, host, "Conecta Trabalhadores") }}
{% endblock %}

{% block main %}
    {% block content %}
            <div class="conecta-vote-card" id="conversation-content">
                <div>
                    {% if comment %}
                        {% include 'ej_conversations/comments/card.jinja2' %}
                    {% else %}
                        {% include 'ej_conversations/comments/conclusion-card.jinja2' %}
                    {% endif %}
                </div>
            </div>
    {% endblock %}

    <script>
    function share(){
        navigator.clipboard.writeText(`${window.location.href}welcome`).then(() => {
            showConfirmationDialogFor("#share-conversation-dialog-confirmation");
        });
    }
    </script>
{% endblock %}
