{% extends 'ej_conversations/base.jinja2' %}
{% set page_title = _('Conversation: "{}"').format(conversation.text) %}
{% set hide_menu = True %}

{% block metaOG %}
    <meta name="description" property="og:title" content="{{ conversation.title }}">
    <meta property="og:description" content="{{ conversation.text }}">
    <meta name="twitter:title" content="{{ conversation.title }}">
{% endblock %}

{% from "ej_conversations/includes/toast.jinja2" import dialog %}

{% block main %}
    <{{ main_tag }} id="main-content" tabindex=0>
    {% block content %}
        {{ dialog("profile-dialog-confirmation", _("Thank you for information."))}}
        <div class="conecta-vote-card" id="profile-info-page">
            <article class="conecta-vote-card-header conecta-vote-card-header--purple" aria-label="{{ _("Conversation topic") }}">
                <div class="conecta-vote-grid">
                    <div class="conversation-title">
                        <h1 class="conecta-vote-card-header__text--gray">{{_("Would you like to tell us a little more about yourself?")}}</h1>
                        <span>{{_("We want to keep you informed about what we did with your contribution.")}}</span>
                    </div>
                </div>
            </article>

            <div class="conecta-profile-form margin-xauto">
                <form class="width-full"
                    id="profile-form"
                    hx-post="{{ url('conecta:profile', **conversation.get_url_kwargs()) }}"
                    hx-target="body"
                    hx-swap="outerHTML">

                    {{ csrf_input }}
                    <input type="hidden" name="conversation_id" value="{{ conversation.id }}">

                    <div class="form-fields">
                        <div class="form-fields__worker">
                            <label class="form-fields__label--bigger">
                                {{form.is_app_worker.label}}
                            </label>
                            {{form.is_app_worker}}
                        </div>
                        <div class="form-fields__state">
                            <label class="form-fields__label--bigger">
                                {{form.state.label}}
                            </label>
                            {{form.state}}
                        </div>

                        <div class="profile-subtitle">
                            <span class="form-fields__label--bigger">
                                {{_("We want to ensure that everyone is participating on this conversation:")}}
                            </span>
                        </div>

                        <div class="form-fields__gender">
                            <label for="">
                                {{form.gender.label}}
                            </label>
                            {{form.gender}}
                        </div>
                        <div class="form-fields__race">
                            <label for="">
                                {{form.race.label}}
                            </label>
                            {{form.race}}
                        </div>
                        <div class="form-fields__current-age">
                            <label for="">
                                {{form.current_age.label}}
                            </label>
                            {{form.current_age}}
                        </div>
                    </div>

                    <div class="margin-y4 margin-xauto flex justify-center">
                        <div class="margin-xauto profile-btn">
                            <input hx-get="{{ url('boards:conversation-detail', **conversation.get_url_kwargs()) }}"
                                hx-params="return"
                                type="submit" value="{{ _('I dont want to answer') }}"
                                class="width-full conecta-profile-form__deny-btn button"
                            >
                            <input id="conecta-send-info-accepted" type="submit" name="submit" value="{{ _('send') }}" class="width-full is-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endblock %}
    </{{ main_tag }}>
{% endblock %}

<script>
$('input:radio:checked').parent().parent().addClass("active");
$('input:radio').click(function () {
  $('input:not(:checked)').parent().parent().removeClass("active");
  $('input:checked').parent().parent().addClass("active");
});

$("#profile-form").on("htmx:afterRequest", (event) => {
    if (event.target.id == 'profile-form'){
            showConfirmationDialogFor("#profile-dialog-confirmation")
    }
});

</script>
