{% extends 'ej_conversations/base.jinja2' %}
{% set page_title = _('Conversation: "{}"').format(conversation.text) %}
{% set hide_menu = True %}
{% from "ej_conversations/includes/metatags.jinja2" import adds_conversation_metatags %}

{% block meta %}
    {{ super() }}
    {{ adds_conversation_metatags(conversation, host, "Conecta Trabalhadores") }}
{% endblock %}

{% block main %}
    <{{ main_tag }} id="main-content" tabindex=0>
    {% block content %}
        <div class="welcome-page">

            <div class="welcome-page-content items-center" id="intro-index">
                <h1>{{_("Hello!")}}</h1>
                <p class="welcome-page-content__subtitle">{{_("You are on the application, an initiative to strengthen the voice of workers via the application.")}}</p>
                <p class="welcome-page-content__subtitle">{{_("Here you will be able to collaborate with ideas to improve the working conditions of those who work through applications.*")}}</p>
            </div>

            <div class="welcome-page__buttons">
                {% if not conversation.is_hidden %}
                    <div>
                        <a class="is-primary button"
                        href={{url("ej_boards:conversation-detail", **conversation.get_url_kwargs())}}>
                            {{_("Make your voice heard!")}}
                        </a>
                    </div>
                {% else %}
                    <div>
                        <button class="welcome-page__button" type="button">
                            {% trans %}This conversation is hidden.{% endtrans %}
                        </button>
                    </div>
                {% endif %}
                {% if request.user.has_perm("ej.can_edit_conversation", conversation) %}
                    <div>
                        <a class="is-primary button"
                        href={{url("ej_boards:dataviz-dashboard", **conversation.get_url_kwargs())}}>
                            {{_("Dashboard")}}
                        </a>
                    </div>
                {% endif %}
            </div>

            {% include 'ej_conversations/includes/developed-by.jinja2' %}
        </div>
    {% endblock %}
    </{{ main_tag }}>
{% endblock %}
