<div data-export="true" class="channels-chart">
    <div class="channels-chart__header">
        <h2 class="charts-section__title">{{ _('channel participation') }}</h3>
        <div class="participant-filter">
            <div class="participant-filter__buttons">
                <button id="id_part_button" onclick="selectParticipation(event.target)"
                    class="participant-filter__button">{{ _('participants')}}</button>
                <button id="id_vote_button" onclick="selectParticipation(event.target)"
                    class="participant-filter__button">{{ _('votes')}}</button>
                <button id="export-button" onclick="exportDivAsPNG(event.target)"
                    class="participant-filter__button">{{ _('export')}}</button>
            </div>
        </div>
    </div>
    <div id="pizza-chart-container">
        <div id="channels-chart" style="width: 100%; height: 400px;"></div>
    </div>
</div>
<script>
    function exportDivAsPNG(button) {
        // Encontra o primeiro elemento pai com o atributo data-export="true"
        let parentElement = button.closest('[data-export="true"]');

        if (parentElement) {
            // Oculta temporariamente o botão de exportação
            button.style.display = 'none';

            // Define o padding desejado
            const padding = 50;

            // Cria um canvas temporário com o tamanho da div + padding
            const canvas = document.createElement('canvas');
            canvas.width = parentElement.offsetWidth + 2 * padding;
            canvas.height = parentElement.offsetHeight + 2 * padding;

            const ctx = canvas.getContext('2d');

            // Adiciona um fundo branco com o padding
            ctx.fillStyle = 'white';
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            // Usa html2canvas para renderizar a div e desenhá-la no canvas
            html2canvas(parentElement).then((renderedCanvas) => {
                // Desenha o canvas renderizado com um deslocamento para o padding
                ctx.drawImage(renderedCanvas, padding, padding);

                // Converte o canvas para uma imagem PNG
                const image = canvas.toDataURL("image/png");

                // Cria um elemento <a> para download
                const link = document.createElement('a');
                link.download = 'export-div.png'; // Nome do arquivo de download
                link.href = image;

                // Adiciona o link ao DOM, clica nele e o remove em seguida
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                // Mostra novamente o botão de exportação
                button.style.display = 'block';
            });
        } else {
            console.error('Elemento pai com o atributo data-export="true" não encontrado.');
        }
    }



    let voteButton = document.getElementById('id_vote_button');
    let partButton = document.getElementById('id_part_button');
    let data = [];

    window.addEventListener('load', loadVoteVisualization);

    function renderChannelsChart() {
        let channels = [data[0].name, data[1].name, data[2].name, data[3].name, data[4].name];
        let values = [
            {value: data[0].value},
            {value: data[1].value},
            {value: data[2].value},
            {value: data[3].value},
            {value: data[4].value}
        ]

        let chart = echarts.init($('#channels-chart')[0]);
        let options = {
            color: "#0088cc",
            tooltip: {
                trigger: 'axis'
            },
            grid: {
                top: '5%',
                width: '85%'
            },
            xAxis: {
                type: 'category',
                data: channels
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                data: values,
                type: 'bar'
                }
            ]
            };
        chart.setOption(options);
    }

    async function loadVoteVisualization() {
        selectParticipation(voteButton);
    }

    function setData(option) {
        data = [
            {name: "Telegram", value: option.telegram, fill: "#0088cc" },
            {name: "WhatsApp", value: option.whatsapp, fill: "#128c7e" },
            {name: "EJ", value: option.ej, fill: "#7758B3" },
            {name: "{{_('Opinion Component')}}", value: option.opinion_component, fill: "#ff3e72" },
            {name: "{{_('Unknown')}}", value: option.unknown, fill: "#c4c4c4" },
        ]
    }

    function selectParticipation(selectedButton) {
        let notSelected;

        if (selectedButton == voteButton) {
            notSelected = partButton;
            setData({{statistics.channel_votes|safe}});
        }
        else {
            notSelected = voteButton;
            setData({{statistics.channel_participants|safe}});
        }

        selectedButton.classList.add('participant-filter__button--selected');
        notSelected.classList.remove('participant-filter__button--selected');

        renderChannelsChart();
    }
</script>
