{% extends 'base.jinja2' %}
{% set page_title = flatpage.title %}
{% set hide_menu = false -%}
{% block content %}
    <div class="content-grid">
        <div>
            <h1 class="text-accent margin-b3 margin-t3">{{ flatpage.title }}</h1>
            {% block render_flatpage %}{{ flatpage.content.replace('\n', '<br>') |safe }}{% endblock %}
        </div>
    </div>
{% endblock %}
