<div id="comment-content-container">
    {% from "ej_conversations/includes/toast.jinja2" import dialog %}
    <div class="conecta-vote-card">{% include 'ej_conversations/includes/conversation-header.jinja2' %}</div>
    <div class="conecta-comment-grid">
        <div class="comment-card">
            <article>
                <div class="comment-card__progress comment-card__progress--left">
                    <div>
                        {{ _("You still can react to ") }}{{ "%d"|format(conversation.n_approved_comments - n_user_final_votes) }} {{ _(" proposals") }}
                    </div>
                </div>
                <form id="conecta-register-form"
                      class="conecta-register-form"
                      hx-post="{{ url("conecta:register") }}"
                      hx-target="body"
                      hx-swap="outerHTML">
                    {{ csrf_input }}
                    <div class="conecta-register-form__field">
                        {{ form_user }}
                        {% if form_user.errors %}{{ form_user.errors['email'] }}{% endif %}
                    </div>
                    <div class="conecta-register-form__field">
                        {{ form_profile }}
                        {% if form_profile.errors %}{{ form_profile.errors['phone_number'] }}{% endif %}
                    </div>
                    <div class="span2 conecta-register-form--centered">
                        {% for field in form_terms %}
                            <div>
                                {{ field }}<span onclick="show_{{ field.name }}_content()">{{ field.help_text }}</span>
                            </div>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="conversation_id" value="{{ conversation.id }}">
                    <div class="margin-xauto conecta-register-form--centered">
                        <input hx-get="{{ url('conecta:end-participation', **conversation.get_url_kwargs() ) }}"
                               hx-target="#comment-content-container"
                               hx-swap="outerHTML"
                               type="submit"
                               value="{{ _("end participation") }}"
                               class="width-full is-primary conecta-register-form__button">
                        <input id="send-user-information"
                               type="submit"
                               name="submit"
                               value="{{ _("send informations") }}"
                               class="width-full is-primary">
                    </div>
                </form>
            </article>
        </div>
    </div>
    <div id="terms-modal">
        <div class="tour-backdrop"></div>
        <div class="tour-card">
            <div class="terms-modal__header">
                <div class="terms-modal__title"></div>
                <div onclick="hideModal()" class="terms-modal__close-icon">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="terms-modal__body">
                <textarea readonly class="terms-modal__content"></textarea>
            </div>
        </div>
    </div>
    <script>
        $("#conecta-register-form").on("htmx:afterRequest", (event) => {
            if (event.target.id == 'conecta-register-form' && event.detail.successful){
                showConfirmationDialogFor("#register-dialog-confirmation");
            }
        });

        function show_agree_with_terms_content() {
            $("#terms-modal")[0].style.visibility = "visible";
            let content = `{{ form_terms.terms_content.agree_with_terms|safe }}`;
            $(".terms-modal__content")[0].textContent = content;
            $(".terms-modal__title")[0].textContent = "Termos de uso";
        }

        function show_agree_with_privacy_policy_content() {
            $("#terms-modal")[0].style.visibility = "visible";
            let content = `{{ form_terms.terms_content.agree_with_privacy_policy|safe }}`;
            $(".terms-modal__content")[0].textContent  = content;
            $(".terms-modal__title")[0].textContent = "Política de privacidade";
        }

        function hideModal() {
            $("#terms-modal")[0].style.visibility = "hidden";
        }

        $("#id_phone_number").on("input", function () {
            console.log(event);
            const phoneMask = (value) => {
                if (!value) return ""
                value = value.replace(/\D/g,'')
                value = value.replace(/(\d{2})(\d)/,"($1) $2")
                value = value.replace(/(\d)(\d{4})$/,"$1-$2")
                return value
            }
            let input = event.target
            input.value = phoneMask(input.value)
        })
    </script>
</div>
