<article class="conecta-vote-card-header conecta-vote-card-header--purple" aria-label="{{ _("Conversation topic") }}">
    <div class="conecta-vote-grid">
        <div class="conversation-title">
            <span class="conecta-vote-card-header__label">{{_("Answer the following question:")}}</span>
            <h1 class="conecta-vote-card-header__text--gray">{{ conversation.text }}</h1>
        </div>
    </div>
</article>
