<div class="developed-by">
    <div class="developed-by-container">
        <span>{{_("Developed by:")}}</span>
        <div class="logos">
            <a target="_blank" href="https://pencillabs.tec.br/"><div id="pencillabs"><img src="{{static("img/logo/pencil.png")}}" alt=""></div></a>
            <div id="hacklab">
                <a target="_blank" href="https://hacklab.com.br/">hacklab<b>/</b></a>
            </div>
        </div>
    </div>
</div>
