{% from "ej_conversations/includes/toast.jinja2" import dialog %}

    <div id="comment-content-container">
        <div class="conecta-vote-card">
            {% include 'ej_conversations/includes/conversation-header.jinja2' %}
        </div>
        <div class="conecta-comment-grid">
            <div class="conecta-finish-vote comment-card">
            <article>
                <p class="comment__text comment__text--center">
                    {{_("Thanks for participation.")}}
                </p>
                <div class="margin-y3 margin-xauto conecta-buttons flex justify-center">
                    <div class="margin-xauto profile-btn">
                        <button type="button" id="conecta-profile-page"
                            onclick="reloadPage()"
                            class="width-full conecta-buttons--share conecta-buttons--is-primary-purple">
                            {{_("Return")}}
                        </button>
                    </div>
                </div>
            </article>
            </div>
        </div>
        {% include 'ej_conversations/comments/add-comment.jinja2' %}
    </div>
<script>
function reloadPage() {
    window.location.reload();
}
</script>
