<nav title="{{ _('Conversations') }}" aria-labelledby="menu-conversations" class="menu-padding">
    <h3 id="menu-conversations">{{ _('Conversations') }}</h3>
    <ul>
        <li><a href="{{ url('conversation:list') }}">{{ _('Conversations') }}</a></li>
        {% if request.user.has_perm('ej.can_promote_conversations') and request.user.has_perm('ej.can_add_conversation') %}
            <li><a href="{{ url('boards:conversation-create', board_slug=board.slug) }}">{{_('New Conversation') }}</a></li>
        {% endif %}
            <li><a href="{{ url('boards:board-list') }}">{{ _('Boards') }}</a></li>
        {% for link in page_menu.links('conversations:list', request) %}
            <li>{{ link }}</li>
        {% endfor %}
    </ul>

</nav>
{{ page_menu.ACCESSIBILITY() }}
