{% from 'ej/includes/menu-item.jinja2' import menu_item, board_menu_item %}

<nav class="participant-menu">
    <h1 class="participant-menu__item participant-menu__welcome-title participant-menu__item--margin">{{_("Welcome, ")}} </h1>
    <h1 class="participant-menu__item participant-menu__welcome-title">{{request.user.name}}!</h1>

    <div class="participant-menu__item participant-menu__buttons">
        <a title="{{_('New board')}}"
            href="{{ url('boards:board-create') }}">
            <button>{{_('Create board')}}</button>
        </a>
        <a title="{{_('New conversation')}}" class="is-primary"
            href="{{ url('boards:conversation-create', board_slug=user_boards.first().slug) }}">
            <button>{{_('Create conversation')}}</button>
        </a>
    </div>

    {{ menu_item(current_page, "home", url("profile:home"), _('Home')) }}
    <div class="participant-menu__home-divider participant-menu__item--margin"></div>

    {% block profile_menu %}
        {% include 'ej_conversations/includes/boards-section-menu.jinja2' %}
    {%endblock %}

    <h3 class="text-accent participant-menu__item participant-menu__item--margin">{{_("Help")}}</h3>
    <ul class="participant-menu__item participant-menu__help-section">
        <li><a href="{{ url("profile:tour")+'?completedTour=false' }}">{{_("Tour")}}</a></li>
        <li><a href="/docs" target="#blank">{{_("Documentation")}}</a></li>
        <li><a href="/about" target="#blank">{{_("About")}}</a></li>
    </ul>
</nav>
