<div class="tour-progress">
    <div class="tour-progress--1"></div>
</div>
<div class="tour-content">
    <div class="logo">
        <img src={{ static("img/icons/logo-conecta.svg") }} alt="{{ _('Logo') }}" aria-label="{{ _('Back to initial page') }}">
    </div>
    <div class="bubbles">
        <img src={{ static("ej_profiles/img/tour/bubbles.svg") }} alt="{{ _('Bubbles') }}">
    </div>
    <div class="welcome">
        <h1>{{_("Welcome to")}} {{page_title}}!</h1>
        <p>
        {{page_title}} {{_("aims to channeling, in Brasil and Colombia, the app workers voices and connect then to the public sector spaces.")}}
        {{_("Click at 'begin' for a quick tour.")}}
        </p>
    </div>
    {% if request.user.is_anonymous %}
    <div class="buttons">
        <a class="is-primary button square" hx-target="#tour-page" hx-get="/conecta/profile/tour/?step=2"><span>{{_("Initiate")}}</span></a>
        <form>
            {{ csrf_input }}
            <a class="is-primary button square button--skip" onclick="history.back()">{{_("Skip")}}</a>
        </form>
    </div>
    {% else %}
        <div class="buttons">
            <a class="is-primary button square" hx-target="#tour-page" hx-get="/profile/tour/?step=2"><span>{{_("Initiate")}}</span></a>
            <form>
                {{ csrf_input }}
                <a class="is-primary button square button--skip" hx-post="/profile/tour/?step=skip">{{_("Skip")}}</a>
            </form>
        </div>
    {% endif %}
</div>
