{% extends 'ej_conversations/base.jinja2' %}
{% set main_class = 'report-container measure-wide margin-xauto' %}
{% from "ej_dataviz/reports/includes/export-data.jinja2" import export_modal %}

{% block content %}
<script type="module" src="{{ static('ej_conecta_trabalhadores/node_modules/html2canvas/dist/html2canvas.js') }}"></script>
<script>
    function exportDivAsPNG(button) {
        window.btn = button;
        // Encontra o primeiro elemento pai com o atributo data-export="true"
        let parentElement = button.closest('[data-export="true"]');
        let div = button.closest('.charts-section');

        let loader= div.getElementsByClassName('loader')[0]

        if (parentElement) {
            // Oculta temporariamente o botão de exportação
            button.style.visibility = 'hidden';
            loader.style.visibility = 'visible';
            button.style.opacity = 0;
            loader.style.opacity = 1;
            // Define o padding desejado
            const padding = 50;

            // Cria um canvas temporário com o tamanho da div + padding
            const canvas = document.createElement('canvas');
            canvas.width = parentElement.offsetWidth + 2 * padding;
            canvas.height = parentElement.offsetHeight + 2 * padding;

            const ctx = canvas.getContext('2d');

            // Adiciona um fundo branco com o padding
            ctx.fillStyle = 'white';
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            // Usa html2canvas para renderizar a div e desenhá-la no canvas
            html2canvas(parentElement).then((renderedCanvas) => {
                // Desenha o canvas renderizado com um deslocamento para o padding
                ctx.drawImage(renderedCanvas, padding, padding);

                // Converte o canvas para uma imagem PNG
                const image = canvas.toDataURL("image/png");

                // Cria um elemento <a> para download
                const link = document.createElement('a');
                link.download = 'export-div.png'; // Nome do arquivo de download
                link.href = image;

                // Adiciona o link ao DOM, clica nele e o remove em seguida
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);

                // Mostra novamente o botão de exportação
                loader.style.visibility = 'hidden';
                button.style.visibility = 'visible';
                button.style.opacity = 1;
                loader.style.opacity = 0;            
            });
        } else {
            console.error('Elemento pai com o atributo data-export="true" não encontrado.');
        }
    }
</script>

    <div class="report-container header-space">
    {% block report %}
        <section class="conversation-dashboard content-grid">
            {% with voting_statistics = conversation.statistics().get('votes') %}
                {% include 'ej_dataviz/dashboard/voting.jinja2' %}
            {% endwith %}
            {% with participants_statistics = conversation.statistics().get('participants') %}
                {% include 'ej_dataviz/dashboard/participants.jinja2' %}
            {% endwith %}

            <div class="charts-section center-grid">
                <div class="loader"></div>
                {% include 'ej_dataviz/dashboard/time-chart.jinja2' %}
                {% include 'ej_dataviz/dashboard/channels-chart.jinja2' %}
            </div>

            {% include 'ej_dataviz/dashboard/clusters.jinja2' %}

            {% include 'ej_dataviz/dashboard/scatter.jinja2' %}
            {% with comments_statistics = conversation.statistics().get('comments') %}
                {% include 'ej_dataviz/dashboard/comments.jinja2' %}
                {% include 'ej_dataviz/dashboard/comment-participants.jinja2' %}
            {% endwith %}
            {% include 'ej_dataviz/dashboard/word-cloud-card.jinja2' %}

        </section>

        <div class="hide"
            hx-trigger="showClusterData from:body"
            hx-vals="js:{cluster_id: event.detail.cluster_id}"
            hx-get="{{url("dataviz:cluster-detail", **{"conversation_id": conversation.id, "slug": conversation.slug})}}"
            hx-target="#cluster-details"
            hx-on::after-request='showClusterModal()'
            >
        </div>
        <div id="cluster-details" class="hide">
            {% include 'ej_dataviz/dashboard/cluster-detail.jinja2' %}
        </div>

    {% endblock %}
    </div>
{% endblock %}
